<div class="container clearfix">
<div class="row">
  <div class="col">
    <%= render partial: "translations/timaeus-ah" %>
</div>
<div class="col-3">
  <div id="sidebar">
    <div class="sidebar__inner">
      <p>
	<ul class="accordion">
	  <li>
	    <button class="accordion-control">Introduction</button>
	    <div class="accordion-panel">
	      <ul>
		<li>Socrates' Summary</li>
		<li>Athens vs. Atlantis<li>
	      </ul>
	  </li>
	  <li>
	    <button class="accordion-control">Timaeus' Discourse</button>
	    <div class="accordion-panel"><ul>
		<li>Being / Becoming</li>
		<li>The Universe</li>
	      </ul>
	  </li>
	  <li>
	    <button class="accordion-control">The Intellectual Creation</button>
	    <div class="accordion-panel">
	      <ul>
		<li>The World as Living Thing</li>
		<li>The World Body </li>
		<li>The World Soul</li>
	      </ul>
	    </div>
	  </li>
	</ul>
      </p>
    </div>
  </div>
  <script type="text/javascript">
    var a = new StickySidebar('#sidebar', {
    topSpacing: 20,
    bottomSpacing: 20,
    containerSelector: '.container',
    innerWrapperSelector: '.sidebar__inner'
    });
  </script>
  <script>
    $(document).ready(function() {

    $('.accordion').on('click', '.accordion-control', function(e) {
    e.preventDefault();
    $(this).next('.accordion-panel').not(':animated').slideToggle();
    });
    });
  </script>
  
</div>
</div>
</div>
</div>
