<div class="container clearfix">
<div class="row">
  <div class="col">
    <%= render partial: "translations/timaeus-ah" %>
</div>
<div class="col-2">
  <div id="sidebar">
    <div class="sidebar__inner">
      <h1>INDEX</h1>
    </div>
  </div>
  <script type="text/javascript">
    var a = new StickySidebar('#sidebar', {
    topSpacing: 20,
    bottomSpacing: 20,
    containerSelector: '.container',
    innerWrapperSelector: '.sidebar__inner'
    });
  </script>
</div>
</div>
</div>
</div>
