<div class="container clearfix">
<div class="row">
  <div class="col">
    <%= render partial: "translations/timaeus-ah" %>
</div>
<div class="col-3">
  <div id="sidebar">
    <div class="sidebar__inner">
      <p><center><%= image_tag "plato-thumb.png" %></center></p>
      <p>
	<!-- -->
<ul class="accordion">
	  <li>
	  	<button class="accordion-control">Introduction</button>
	  	<div class="accordion-panel">Socrates Summary<br/>Athens v. Atlantis</div>
	  </li>
	  <li>
	  	<button class="accordion-control">Timaeus' Discourse</button>
	  	<div class="accordion-panel">Being/Becoming<br/>The Universe</div>
	  </li>
	  <li>
	  	<button class="accordion-control">The Intellectual Creation</button>
	  	<div class="accordion-panel">The World as Living Thing<br/>The World Body<br/>The World Soul</div>
	  </li>
	</ul>
	<!-- -->
      </p>
    </div>
  </div>
</div>
  <script type="text/javascript">
    var a = new StickySidebar('#sidebar', {
    topSpacing: 20,
    bottomSpacing: 20,
    containerSelector: '.container',
    innerWrapperSelector: '.sidebar__inner'
    });
  </script>
  <script>
    $(document).ready(function() {

    $('.accordion').on('click', '.accordion-control', function(e) {
    e.preventDefault();
    $(this).next('.accordion-panel').not(':animated').slideToggle();
    });
    });
  </script>
  
</div>
</div>
</div>
</div>
